/* 公用代码 */
img{
  display: block;
}
a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none;
}
.red{
  color: #A94442;
}
/* .table.table-bordered th, .table.table-bordered td */
.table.table-bordered th,
.table.table-bordered td{
  text-align: center;/*水平居中*/
  vertical-align: middle;/*垂直居中*/
}


/* 公用代码 */
.body_bg{
  background: #222D32;
}

.mt_top{
  margin-top: 150px;
}

.panel-title{
  height: 40px;
  line-height: 40px;
  text-align: center;
}

/* 左侧侧边栏布局 */
.lt_aside{
  width: 180px;
  height: 100%;
  background-color: #222D32;
  position: fixed;
  top:0;
  left:0;

  z-index: 999;
  transition: all 1s;
}
/* 隐藏左侧 */
.lt_aside.hidemenu{
  left:-180px;
}
.lt_aside .brand{
  height: 50px;
  width: 100%;
  background-color: #367FA9;
}
.lt_aside .brand a{
  display: block;
  color:#fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}
.lt_aside .user{
  height: 150px;
}
.lt_aside .user img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 30px auto 0;
}
.lt_aside .user  p{
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  color: #fff;
}
.lt_aside .nav li a{
  display: block;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-left:3px solid transparent;
  /* font-size: 18px; */
}
.lt_aside .nav li a.active{
  border-left:3px solid #069;
  background-color: #1D1F21;
}
.lt_aside .nav li a i{
  margin-right: 5px;
}
.lt_aside .nav .child{
  padding-left: 20px;
  display: none;
}

/* 右侧 */
.lt_main{
  width: 100%;
  height: 1200px;
  /* background: pink; */
  padding-left: 180px;/*侧边栏*/
  padding-top: 50px;/*上方topbar*/
  transition: all 1s;
}
.lt_main.hidemenu{
  padding-left: 0px;
}
.lt_main .lt_topbar{
  height: 50px;
  width: 100%;
  background-color: #3C8DBC;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 180px;

  z-index:666;
  transition: all 1s;
}
.lt_main .lt_topbar.hidemenu{
  padding-left: 0px;
}
.lt_main .lt_topbar a{
  display: block;
  height: 50px;
  width: 50px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
.lt_main .lt_content{
  padding: 15px;

}
/* 准备图形容器 */
.content .echarts_left,
.content .echarts_right{
  width: 48%;
  height: 400px;
  background: skyblue;
}